# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
flutter_*.png
flutter_*.log

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore
key.properties

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log
logs/
crash_logs/
